*{
  margin: 0; padding:0;box-sizing:border-box;
 
}

.heading{
  color: blueviolet;
  text-align: center;
  text-decoration: rgb(218, 47, 61);
  text-transform:lowercase;
  font-weight: 400;
  font-family : 'Josefin Sans', sans-serif;
}

.img_div{
  display:flex;
  justify-content:center ;
}
